services:
  neo4j:
    image: neo4j:latest
    profiles: ["neo4j"]
    ports:
      - "7474:7474"
      - "7687:7687"
    networks:
      - silta
    healthcheck:
      test: [ "CMD", "bash", "-c", "</dev/tcp/localhost/7474" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - path: ./.env.neo4j

  age:
    image: apache/age
    profiles: ["age"]
    ports:
      - "5455:5432"
    env_file:
    - ./.env.PSQL

  pyzx-neo4j:
    build:
      context: .
      target: product
    profiles: ["neo4j"]
    depends_on:
      neo4j:
        condition: service_healthy
    environment:
      - PYTEST_ADDOPTS=--color=yes
      - FORCE_COLOR=1
    networks:
      - silta
    env_file:
      - path: ./.env.pyzx
    command: python -m manual_neo4j.main_switch

  pyzx-age:
    build:
      context: .
      target: product
    profiles: ["age"]
    depends_on:
      - age
    environment:
      DB_TYPE: age
    env_file:
      - path: ./.env.pyzx
    command: python -m age_test.age_functionality_test
  # You can run this with this:
  # docker compose up --watch pyzx-dev
  # And it will watch all the files.
  pyzx-dev:
    extends: pyzx-neo4j
    profiles: [ "pyzx-dev" ]
    entrypoint: [ "/bin/sh", "-c" ]
    environment:
      - PYTEST_ADDOPTS=--color=yes
      - FORCE_COLOR=1
    command:
      - |
        python ./manual_neo4j/main_switch.py;
        echo "PyZX finished. Sleeping...";
        sleep infinity
    develop:
      watch:
        - action: sync+restart
          path: ./
          target: /usr/src/app/
          ignore:
            - "**/__pycache__/**"
            - ".pytest_cache/**"
            - ".mypy_cache"

  test:
    build:
      context: .
      target: tester
    profiles: [ "test" ]
    depends_on:
      neo4j:
        condition: service_healthy
    ports: []
    tty: true
    stdin_open: true
    environment:
      - PYTEST_ADDOPTS=--color=yes
      - FORCE_COLOR=1
    env_file:
      - path: ./.env.pyzx
    networks:
      - silta

  # Can be run:
  # docker compose up --watch test-dev
  # to get it constantly do all tests on every change.
  test-dev:
    extends: test
    profiles: [ "test-dev" ]
    entrypoint: [ "/bin/sh", "-c" ]
    command:
      - |
        python -m unittest discover -v -s tests/test_graph_neo4j;
        echo "Tests finished. Sleeping...";
        sleep infinity
    develop:
      watch:
        - action: sync+restart
          path: ./
          target: /usr/src/app/
          ignore:
            - "**/__pycache__/**"
            - ".pytest_cache/**"
            - ".mypy_cache"

  # This is if you want to dev inside the container, run this insanite:
  # docker compose run --rm test-dev3
  # After you add GIT_USER and GIT_EMAIL to the .env.pyzx
  test-dev3:
    build:
      context: .
      target: test-base
    profiles: [ "test-dev3" ]
    environment:
      - PYTEST_ADDOPTS=--color=yes
      - FORCE_COLOR=1
    networks:
      - silta
    env_file:
      - path: ./.env.pyzx
    depends_on:
      neo4j:
        condition: service_healthy
    tty: true
    stdin_open: true
    volumes:
      - .:/usr/src/app
    entrypoint: [ "/bin/bash", "-c" ]
    command: >
      "pre-commit install && git config --global user.name \"$$GIT_USER\" && 
       git config --global user.email \"$$GIT_EMAIL\" && 
       exec /bin/bash"

networks:
  silta:
    name: silta
