services:
  neo4j:
    image: neo4j:latest
    profiles: [ "neo4j-prof", "all", "db" ]
    container_name: Neon
    ports:
      - "7474:7474"
      - "7687:7687"
    networks:
      - silta
    healthcheck:
      test: [ "CMD", "bash", "-c", "</dev/tcp/localhost/7474" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - path: ./.env

  age:
    image: apache/age:latest
    profiles: [ "age-prof", "all", "db" ]
    container_name: PSQL
    ports:
      - "5432:5432"
    networks:
      silta:
        aliases:
          - age
          - psql
    env_file:
      - path: ./.env
    healthcheck:
      test: [ "CMD", "bash", "-c", "</dev/tcp/localhost/5432" ]
      interval: 10s
      timeout: 5s
      retries: 5

  memgraph:
    image: memgraph/memgraph-mage:latest
    container_name: Memo
    profiles: [ "mem-prof" , "all", "db" ]
    ports:
      - "7445:7687"
      - "7444:7444"
    command: [ "--log-level=TRACE" ]
    healthcheck:
      test: [ "CMD", "bash", "-c", "</dev/tcp/localhost/7444" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - path: ./.env
    networks:
      - silta

  lab:
    image: memgraph/lab:latest
    container_name: memgraph-lab
    profiles: [ "mem-prof" ]
    pull_policy: always
    ports:
      - "3000:3000"
    depends_on:
      - memgraph
    environment:
      - QUICK_CONNECT_MG_HOST=memgraph
      - QUICK_CONNECT_MG_PORT=7687
    networks:
      - silta
    env_file:
      - path: ./.env

  pyzx-basee:
    build:
      context: .
      target: product
    profiles: [ "base-pyzx", "all" ]
    environment:
      - PYTEST_ADDOPTS=--color=yes
      - FORCE_COLOR=1
    networks:
      - silta
    env_file:
      - path: ./.env
    # Please, for love of you computer, do NOT "watch" it if you don't have sleep in this...
    develop:
      watch:
        - action: sync+restart
          path: ./
          target: /usr/src/app/
          ignore:
            - ./mutants/

  pyzx-neo4j:
    extends:
      file: compose.yaml
      service: pyzx-basee
    profiles: [ "neo4j-prof", "all", "pyzx" ]
    container_name: Pyzx-Neon
    depends_on:
      neo4j:
        condition: service_healthy
        required: true
    environment:
      - DB_URI=bolt://neo4j:7687
      - BACKEND_NAME=neo4j
      - DB_USER=neo4j

  pyzx-age:
    extends:
      file: compose.yaml
      service: pyzx-basee
    profiles: [ "age-prof", "all", "pyzx" ]
    container_name: Pyzx-PSQL
    depends_on:
      age:
        condition: service_healthy
        required: true
    env_file:
      - path: ./.env
    environment:
      - DB_URI=postgresql://age:5432/age_db
      - BACKEND_NAME=age

  pyzx-mem:
    extends:
      file: compose.yaml
      service: pyzx-basee
    profiles: [ "mem-prof" , "all", "pyzx" ]
    container_name: Pyzx-Memo
    depends_on:
      memgraph:
        condition: service_healthy
        required: true
    environment:
      - DB_URI=bolt://memgraph:7687
      - BACKEND_NAME=memgraph


  # This is if you want to dev inside the container, run this insanity:
  # docker compose run --rm test-dev3
  # After you add GIT_USER and GIT_EMAIL to the .env.pyzx
  test-dev3:
    extends:
      file: compose.yaml
      service: test-dev4
    profiles: [ "test-dev3" , "all" ]
    tty: true
    stdin_open: true
    volumes:
      - .:/usr/src/app
    command: >
      bash -c "git config --global --add safe.directory /usr/src/app &&
       pre-commit install && 
       exec /bin/bash"


  test-dev4:
    build:
      context: .
      target: tester
    profiles: [ "test-dev4" , "all" ]
    networks:
      - silta
    env_file:
      - path: ./.env
    entrypoint: [ "/bin/sh", "-c" ]
    command:
      - |
        python -m unittest discover -v -s tests;
        echo "Tests finished. \nSleeping...";
        sleep infinity
    environment:
      - DB_URI=$DB_URI_TESTS
      - BACKEND_NAME=$BACKEND_NAME_TESTS
      - DB_USER=$DB_USER_TESTS
      - PYTEST_ADDOPTS=--color=yes
      - FORCE_COLOR=1
    develop:
      watch:
        - action: sync+restart
          path: ./
          target: /usr/src/app/
          ignore:
            - ./mutants/

networks:
  silta:
    name: silta
