services:
  neo4j:
    image: neo4j:latest
    ports:
      - "7474:7474"
      - "7687:7687"
    networks:
      - silta
    healthcheck:
      test: [ "CMD", "bash", "-c", "</dev/tcp/localhost/7474" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - path: ./.env.neo4j

  pyzx:
    build:
      context: .
      target: product
    depends_on:
      neo4j:
        condition: service_healthy
    networks:
      - silta
    env_file:
      - path: ./.env.pyzx
    command: python ./neo4j_functionality_test.py

  # You can run this with this:
  # docker compose up --watch pyzx-dev
  # And it will watch all the files.
  # or you can run (in windows) to run that scrip over and over:
  # $env:X="./neo4j_functionality_test.py"; docker compose up --watch pyzx-dev
  pyzx-dev:
    extends: pyzx
    profiles: [ "pyzx-dev" ]
    entrypoint: []
    environment:
      - X=${X:-}
    command: >
      /bin/sh -c " if [ -z \"$$X\" ]; then
        python ./neo4j_functionality_test.py;
      else
        echo 'Running specific target: $$X';
        echo 'Running specific target: ${X}';
        python $$X;
      fi; sleep infinity"
    develop:
      watch:
        - action: sync+restart
          path: ./neo4j_functionality_test.py
          target: /usr/src/app/neo4j_functionality_test.py
        - action: sync+restart
          path: ./pyzx/graph/graph_neo4j.py
          target: /usr/src/app/pyzx/graph/graph_neo4j.py
        - action: sync+restart
          path: ./pyzx
          target: /usr/src/app/pyzx

  test:
    build:
      context: .
      target: tester
    profiles: [ "test" ]
    depends_on:
      neo4j:
        condition: service_healthy
    ports: []
    tty: true
    stdin_open: true
    environment:
      - PYTEST_ADDOPTS=--color=yes
      - FORCE_COLOR=1
    env_file:
      - path: ./.env.pyzx
    networks:
      - silta

  # Can be run:
  # docker compose up --watch test-dev
  # to get it constantly do all tests on every change.
  # Or can be run like (in windows) to target only those tests:
  # $env:T="tests.test_graph_neo4j.test_neo4j_connection"; docker compose up --watch test-dev

  # this is probably better one.
  # docker compose up --watch test-dev --command "python -m unittest -v tests.test_graph_neo4j.test_file; sleep infinity"
  #
  test-dev:
    extends: test
    profiles: [ "test-dev" ]
    entrypoint: []
    environment:
      - T=${T:-}
    command: >
      /bin/sh -c " if [ -z \"$$T\" ]; then
        python -m unittest discover -v -s tests/test_graph_neo4j;
      else
        echo 'Running specific target: $$T';
        echo 'Running specific target: ${T}';
        python -m unittest -v $$T;
      fi; sleep infinity"
    develop:
      watch:
        - action: sync+restart
          path: ./tests/test_graph_neo4j
          target: /usr/src/app/tests/test_graph_neo4j
          ignore:
            - "**/__pycache__/**"
            - ".pytest_cache/**"
        - action: sync+restart
          path: ./tests
          target: /usr/src/app/tests
          ignore:
            - "**/__pycache__/**"
            - ".pytest_cache/**"

networks:
  silta:
    name: silta
