services:
  neo4j:
    image: neo4j:latest
    ports:
      - "7474:7474"
      - "7687:7687"
    networks:
      - silta
    healthcheck:
      test: [ "CMD", "bash", "-c", "</dev/tcp/localhost/7474" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - path: ./.env.neo4j

  pyzx:
    build:
      context: .
      target: product
    depends_on:
      neo4j:
        condition: service_healthy
    networks:
      - silta
    env_file:
      - path: ./.env.pyzx
    command: python ./neo4j_functionality_test.py

  test:
    build:
      context: .
      target: tester
    profiles: [ "test" ]
    depends_on:
      neo4j:
        condition: service_healthy
    ports: []
    tty: true
    stdin_open: true
    environment:
      - PYTEST_ADDOPTS=--color=yes
      - FORCE_COLOR=1
    command: ./runtests.sh

  # lint:
  #   extends: pyzx-test
  #   profiles: [ "tools" ]
  #   volumes:
  #     - .:/app
  #   command: pylint --rcfile .pylintrc ./

networks:
  silta:
    name: silta
